<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514598046675-5512atambnphh77vbopmrl7dlpk31ulh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514598046675-5512atambnphh77vbopmrl7dlpk31ulh</string>
	<key>API_KEY</key>
	<string>AIzaSyA2qLs7mtWYMmFkKIYXF0K8beNezprsu_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>514598046675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omerElimelech.Covid19VOCAAi</string>
	<key>PROJECT_ID</key>
	<string>voiceup-d7973</string>
	<key>STORAGE_BUCKET</key>
	<string>voiceup-d7973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514598046675:ios:ef215ff5f1c15cb3e43d26</string>
	<key>DATABASE_URL</key>
	<string>https://voiceup-d7973.firebaseio.com</string>
</dict>
</plist>